@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);
@import url(https://fonts.googleapis.com/css?family=Rubik);

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    background-image: url("../img/BG.png");
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
    font-family: 'Nunito Sans', sans-serif
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: red;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    height: auto;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

footer,
header,
main,
menu,
nav,
section {
    display: block
}

h1 {
    margin: .67em 0;
    font-size: 2.5rem;
}


a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}


b,
strong {
    font-weight: bolder
}


video {
    display: inline-block;
}

img {
    border-style: none
}

button{
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button{
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html [type=button] {
    -webkit-appearance: button
}

@-webkit-keyframes pulse {
    0%,
    to {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0
    }

    50% {
        -ms-filter: none;
        -webkit-filter: none;
        filter: none;
        opacity: 1;
        top: -10px
    }
}
footer,
header,
nav,
section {
    display: block;
    
}

h1,
h2,
h3,
h4,
strong {
    margin-top: 1em;
    padding-top: 1em;
    line-height: 1.25;
    color: #333
}

h2 {
    font-size: 2rem;
    color: #b22b2b;
}

h3 {
    font-size: 1.5rem
}

h4 {
    font-size: 1rem
}

p,
ul {
    margin: 1em 0
}

a img {
    border: 0
}

#content {
    display: flex;
    vertical-align: bottom;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

.header {
    z-index: 1;
    text-align: center;
    color: #000;
    position: absolute;
    font-family: 'Rubik', sans-serif;
    width: 80%;
    top: 40%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}
.video-bg {
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: auto;
    min-height: auto;
    width: auto;
    opacity: 100%;
}

.header .site-title {
    font-size: 35px;
    display: block;
    line-height: 1;
    color: #000;
}

@media only screen and (min-width:550px) {
    .header .site-title{
        margin: 0;
        font-size: 100px;
        top:auto;
    }
}
.header .site-description {
    font-size: 20px;
    display: block;
    line-height: 1;
    color: #000;
    margin-top: 10px
}

@media only screen and (min-width:550px) {
    .header .site-description {
        font-size: 40px;        
    }
}

.header-links {
    margin: 10px
}

.header-links .link {
    color: #000;
    text-decoration: none;
    font-size: 15px;
    margin: 10px
}

@media only screen and (min-width:550px) {
    .header-links .link {
        font-size: 20px
    }
}

.header-icons {
    display: flex;
    justify-content: center;
    text-align: center
}

.down,
.header-icons .icon {
    color: #ea1b22;
    text-align: center
}

.header-icons .icon {
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #fff;
    transition: all .7s;
    width: 20px;
    font-size: 20px;
    margin: 5px
}

.header-icons .icon:active,
.header-icons .icon:hover {
    color: white;
    background: red;
}

@media only screen and (min-width:550px) {
    .header-icons .icon {
        width: 35px;
        height: 35px;
        font-size: 35px
    }
}

.down {
    position: absolute;
    bottom: 1%;
    width: 100%;
    margin: 0 auto;
    display: block;
    font-size: 30px;
    cursor: pointer
}

.down .icon {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    fill: #000;
    -webkit-animation: pulse 1.3s infinite;
    animation: pulse 1.3s infinite
}

.down .icon:active,
.down .icon:hover,
.footer a:active,
.footer a:hover {
    color: #4b5664
}

#about {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.596);
}

@media only screen and (min-width:550px) {
    #about {
        width: 80%
    }
}

.dojokun {
    margin: 1%;
    width: auto;
    
}
.tablecolumn {
    text-align: center;
    font-size: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tablecolumn p {
    font-size: 16px;
}

@media only screen and (min-width:550px) {
    .tablecolumn {
        flex-wrap: nowrap;
        font-size: 75px
    }
}

.user-details {
    text-align: center;
    margin: 5px auto
}

#events {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    max-width: 960px;
    margin: 0 auto
}

@media only screen and (min-width:550px) {
    #events {
        width: 80%
    }
}

.user-events {
    margin: 20px auto
}

.user-events img {
    max-width: 100%;
    height: auto;
    border-radius: 5px
}

.user-events h5 {
    margin: 0
}

.user-events li {
    color: #1488CC;
    font-size: 1.1rem
}

.user-events p {
    margin-right: 5px
}

@media only screen and (min-width:550px) {
    .contents {
        margin-left: 0;
        width: 48%
    }

    .contents,
    .contents-right {
        margin-top: -5%
    }

    .contents-right,
    .images-right {
        float: right;
        width: 48%
    }

    .images-right img {
        float: right
    }

    .images-left {
        float: left;
        width: 48%
    }

    .images-left img {
        float: left
    }
}

.project-link {
    display: inline-block;
    margin: 10px 0;
    padding: 5px;
    color: #cc1414;
    background-color: transparent;
    border: 1px solid #cc1414;
    border-radius: 10px;
    text-align: center;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    transition: color .3s ease-out, background-color .3s ease-out, border-color .3s ease-out
}

.project-link:active,
.project-link:hover {
    background-color: #a84747;
    border-color: #a84747;
    color: #fff;
    transition: color .3s ease-in, background-color .3s ease-in, border-color .3s ease-in
}

.footer {
    background: #1488CC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b22b2b, #cc5714);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b22b2b, #cc3914);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px 0;
    margin-top: 100px;
    text-align: center;
    color: #fff
}

.footer .love {
    color: red
}

.footer a {
    text-decoration: none;
    margin: 0;
    color: #fff
}
